/**
 * @file
 * Ubercart Addresses stylesheet
 *
 * This stylesheet styles:
 * - The address book (user/%uid/addresses)
 * - A single address
 * - The address form
 */

/* @group Address book */
.address-book ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.address-book h3 {
  margin-top: 0px;
  padding: 0px;
}

.address-book li.address-item {
  margin: 0 0 10px;
}

.address-book .default-addresses {
  float: left;
  width: 48.5%;
}

.address-book .default-addresses li.address-item {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px 13px;
}

.address-book .additional-addresses {
  float: right;
  width: 48.5%;
}

.address-book .additional-addresses li.address-item {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  padding: 0;
}

.address-book .address-links,
.list-address .address-links td {
  clear: both;
  padding-top: 1em;
}
/* @end */

/* @group Single address */
.list-address {
  width: 20em;
}

.list-address .title-col {
  vertical-align: top;
}
.list-address .data-row td {
  vertical-align: top;
}
/* @end */

/* @group Address form */
.address-pane-table .field-field .form-item label {
  display: none;
}

.address-pane-table tbody {
  border-top: 0px;
}

.address-pane-table table td {
  padding: 2px;
}

.address-pane-table .field-label {
  text-align: right;
  font-weight: bold;
}

.address-pane-table {
  margin-left: auto;
  margin-right: auto;
}

.address-pane-table .form-item {
  display: inline;
}
/* @end */
